@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary-blue: #2950a3;
  --secondary-orange: #f68527;
  --whatsapp-green: #49c858;
}

* {
  -webkit-font-smoothing: antialiased;
}

html {
  margin: 0;
  padding: 0;
  min-height: 100%;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  -webkit-transform: translate3d(0);
  -webkit-backface-visibility: hidden;
  -moz-transform: translate3d(0);
}

body {
  margin: 0;
  padding: 0;
}

.left-padding {
  padding-left: 10rem;
}

/* Hero starts */
.hero {
  background-image: url("/public/hero-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  padding: 0 10rem;
  height: 100vh;
  width: 100vw;
}

.nav-logo {
  width: 10rem;
}

.nav-bar-flex {
  display: flex;
  padding: 2rem 0;
  justify-content: space-between;
  align-items: center;
}

.nav-bar-flex a {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: -0.05em;
}

/* .nav-bar-flex > a::after {
  content: "";
  display: block;
  width: 0%;
  border-bottom: 2px var(--secondary-orange) solid;
  margin-top: 0.3rem;
  background-color: var(--secondary-orange);
  transition: width 300ms;
}

.nav-bar-flex > a:hover::after {
  width: 100%;
  transition: width 300ms;
} */

.nav-bar-flex > a::after {
  content: "";
  display: block;
  width: 100%;
  border-bottom: 2px var(--secondary-orange) solid;
  margin-top: 0.3rem;
  transition: transform 300ms;
  transform: scaleX(0);
  transform-origin: left;
}
.nav-bar-flex > a:hover::after {
  transform: scaleX(1);
}

.search-box {
  display: inline-block;
  margin-left: 10rem;
}

.search-box p {
  letter-spacing: -0.055rem;
  line-height: 114.5%;
}

.Search {
  color: white;
  font-weight: 400;
  margin-left: 0.5rem;
  display: inline;
}

.magnifying-glass {
  /* display: inline-block; */
  font-size: 1.5rem;
  transform: rotate(-35deg);
}

.text {
  margin-top: 8rem;
}

.text h1 {
  color: white;
  font-size: 3rem;
  font-weight: 700;
  font-style: normal;
  letter-spacing: -0.2rem;
  line-height: 114.5%;
  margin: 1rem 0;
}

.text p {
  color: white;
  font-weight: 400;
  font-size: 1.125rem;
  letter-spacing: -0.055rem;
  line-height: 163.5%;
  margin: 0.5rem 0 1.5rem 0;
}

.contact-button {
  color: white;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: -0.055rem;
  line-height: 163.5%;
  background-color: var(--primary-blue);
  border: none;
  border-radius: 5px;
  padding: 0.375rem 2rem;
  transition: transform 300ms;
}

.whatsapp-button {
  color: white;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: -0.055rem;
  line-height: 163.5%;
  background-color: var(--whatsapp-green);
  border: none;
  border-radius: 5px;
  padding: 0.375rem 2rem;
  margin-left: 0.625rem;
  transition: transform 300ms;
}

.whatsapp-button i {
  font-size: 1.5rem;
  margin-right: 0.5rem;
  line-height: 1rem;
  transform: translateY(0.1rem);
}

.contact-button:focus,
.whatsapp-button:focus {
  outline: none;
}

.contact-button:hover,
.whatsapp-button:hover {
  transition: transform 300ms;
  transform: scale(1.05);
}
/* Hero ends */

/* Section-2 starts */
.section-2 {
  height: 100vh;
  width: 100vw;
  padding: 4rem 0;
}

.trusted-title {
  text-align: center;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 114.5%;
  letter-spacing: 0.31em;
}

.trusted-companies {
  display: flex;
  /* width: 100%; */
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
}

.trusted-companies img {
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}

.grid-container {
  margin-top: 5rem;
  width: 100vw;
}

.technical-partner-grid {
  display: grid;
  width: 100%;
  grid-template-columns: 5fr 4fr;
  /* padding: 0 10rem; */
  gap: 0rem 1rem;
}

.small-caps-title {
  color: var(--primary-blue);
  font-size: 0.8rem;
  margin: 0;
}

.technical-partner-text {
  padding-left: 10rem;
  /* width: 40%; */
}

.technical-partner-text h1 {
  color: black;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: -0.05em;
  line-height: 114.5%;
  margin: 0.5rem 0 0 0;
}

.desc {
  font-size: 0.9rem;
  letter-spacing: -0.05em;
  line-height: 163%;
}

.checklist {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.checklist-unit {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
}

.checklist-unit i {
  color: var(--secondary-orange);
  font-size: 1rem;
  margin-right: 0.5rem;
}

.checklist-unit p {
  font-size: 0.9rem;
  letter-spacing: -0.05em;
  line-height: 163%;
  margin: 0;
}

.technical-partner-image {
  padding-right: 10rem;
}

.technical-partner-image img {
  height: 100%;
}
/* Section-2 ends */

/* Section-3 start */
.blue-title {
  font-size: 2rem;
  font-weight: 500;
  color: var(--primary-blue);
  letter-spacing: -0.05em;
  line-height: 163.5%;
}

.reasons-text {
  padding: 0 10rem;
  width: 40%;
}

.reasons-text h1 {
  font-size: 2rem;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 163.5%;
  letter-spacing: -0.05em;
  padding: 0;
  margin: 1rem 0;
}

.reasons-text p {
  font-size: 1rem;
  letter-spacing: -0.05em;
  line-height: 163.5%;
  margin: 0;
}
/* Section-3 end */

/* Section 5 Reach Card start */
.reach-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 3rem 0;
  /* height: 100vh; */
}

.reach-card {
  display: flex;
  justify-content: space-between;
  padding: 4rem 2rem;
  border-radius: 20px;
  box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.05);
}

.reach-card-unit {
  display: inline-block;
  margin: 0 3.5rem;
}

.reach-card-unit p {
  color: var(--primary-blue);
  display: inline-block;
  line-height: 1;
}

.reach-card-unit .count {
  font-size: 4.5rem;
  font-weight: 700;
  letter-spacing: -0.05em;
  margin: 0;
  padding: 0;
}

.reach-card-unit .blue-title {
  margin: 0;
  padding: 0;
}

/* Section 5 Reach Card end */

/* Section 6 */
.customized-solutions-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10rem;
}

.customized-solutions-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.customized-cards-container {
  /* display: flex;
  flex-wrap: wrap;
  flex-basis: 40%; */
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: 1fr 1fr;
}

.card-unit {
  margin: 1rem 1rem;
  box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  padding: 1.5rem 1rem;
  width: 11rem;
}

.card-title {
  margin: 0.5rem 0;
  letter-spacing: -0.05em;
  font-weight: 600;
}

.card-desc {
  margin: 0;
  font-size: 0.75rem;
  letter-spacing: -0.05em;
}

.customized-solutions-text {
  /* margin-right: 4rem; */
}

.customized-solutions-text .blue-title {
  letter-spacing: -0.05em;
  line-height: 120%;
  margin: 0;
}

.customized-solutions-text .tag {
  font-weight: 400;
  font-size: 1.2rem;
  letter-spacing: -0.05em;
  margin: 1rem 0 2rem 0;
}

.blue-button {
  color: white;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: -0.05em;
  line-height: 163.5%;
  background-color: var(--primary-blue);
  border: 2px var(--primary-blue) solid;
  border-radius: 5px;
  padding: 0.3rem 1.5rem;
  transition: transform 300ms;
}

.inverted-blue-button {
  color: var(--primary-blue);
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: -0.055rem;
  line-height: 163.5%;
  background-color: transparent;
  border: 2px var(--primary-blue) solid;
  border-radius: 5px;
  padding: 0.3rem 1.5rem;
  transition: transform 300ms;
}

/* Section 6 */

/* Responsiveness */
@media screen and (min-width: 1920px) {
  .hero {
    background-image: url("/public/hero-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    padding: 0 20rem;
    height: 90vh;
    width: 100vw;
  }

  .nav-logo {
    width: 11rem;
    margin-right: 2rem;
  }

  .nav-logo img {
    width: 100%;
  }

  .nav-bar-flex {
    display: flex;
    padding: 2rem 0;
    justify-content: space-between;
    align-items: center;
  }

  .nav-bar-flex a {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 1.275rem;
    font-weight: 300;
    letter-spacing: -0.055rem;
  }

  .search-box {
    display: inline-block;
    margin-left: 10rem;
  }

  .search-box p {
    letter-spacing: -0.055rem;
    line-height: 114.5%;
  }

  .search-box img {
    width: 1rem;
  }

  .Search {
    color: white;
    font-weight: 400;
    font-size: 1.275rem;
    margin-left: 0.5rem;
    display: inline;
  }

  .text {
    margin-top: 8rem;
  }

  .text h1 {
    color: white;
    font-size: 4rem;
    font-weight: 600;
    /* font-style: normal; */
    letter-spacing: -0.3rem;
    line-height: 114.5%;
    margin: 1rem 0;
  }

  .text p {
    color: white;
    font-weight: 300;
    font-size: 1.5rem;
    letter-spacing: -0.03rem;
    line-height: 163.5%;
    margin: 1.5rem 0 2.5rem 0;
  }

  .contact-button {
    color: white;
    font-size: 1.5rem;
    font-weight: 300;
    /* letter-spacing: -0.01rem; */
    line-height: 163.5%;
    background-color: var(--primary-blue);
    border: none;
    border-radius: 5px;
    padding: 0.5rem 2.5rem;
  }

  .whatsapp-button {
    color: white;
    font-size: 1.5rem;
    font-weight: 300;
    /* letter-spacing: -0.01rem; */
    line-height: 163.5%;
    background-color: var(--whatsapp-green);
    border: none;
    border-radius: 5px;
    padding: 0.5rem 2.5rem;
    margin-left: 0.5rem;
  }

  .whatsapp-button i {
    font-size: 2rem;
    margin-right: 0.5rem;
    line-height: 1rem;
    transform: translateY(0.2rem);
  }
}
