@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --primary-blue: #2950a3;
  --secondary-orange: #f68527;
  --whatsapp-green: #49c858;
  --small-padding: 10rem;
  --medium-padding: 15rem;
  --large-padding: 21rem;
  --letter-spacing-large: -0.05em;
  --letter-spacing-medium: -0.03em;
  --line-height-small: 114.5%;
  --line-height-medium: 145.5%;
  --line-height-large: 163.5%;
}

::-moz-selection {
  background-color: var(--secondary-orange);
  color: white;
}

::selection {
  background-color: var(--secondary-orange);
  color: white;
}

::-webkit-scrollbar {
  background-color: black;
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: #eeeeee;
  border-radius: 10px;
}

* {
  -webkit-font-smoothing: antialiased;
}

html {
  margin: 0;
  padding: 0;
  min-height: 100%;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-transform: translate3d(0);
  -webkit-backface-visibility: hidden;
  -moz-transform: translate3d(0);
}

body {
  margin: 0;
  padding: 0;
}

.left-padding {
  padding-left: 10rem;
}

.right-padding {
  padding-right: 10rem;
}

#bg-orange {
  background-color: var(--secondary-orange);
}

/* Hero starts */
.hero {
  position: relative;
  background-image: url("/public/hero-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  padding: 0 var(--small-padding);
  height: 100vh;
  width: 100vw;
}

.nav-logo {
  width: 8rem;
  margin-right: 1rem;
}

.nav-logo img {
  width: 100%;
}

.nav-bar-flex {
  display: flex;
  padding: 2rem 0;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-variation-settings: "wght" 400;
  letter-spacing: -0.05em;
  cursor: pointer;
}

.nav-link a {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-variation-settings: "wght" 400;
  letter-spacing: -0.05em;
}

.nav-link span > i {
  font-size: 0.7rem;
  margin-left: 0.5rem;
}

.nav-link > span {
  display: inline-flex;
  align-items: center;
}

.nav-link::after {
  content: "";
  display: block;
  width: 100%;
  border-bottom: 2px var(--secondary-orange) solid;
  margin-top: 0.3rem;
  transition: transform 300ms;
  transform: scaleX(0);
  transform-origin: center;
}

.nav-link:hover::after {
  transform: scaleX(1);
}

/* Dropdown styles */
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  /* cursor: pointer; */
}

.has-dropdown {
  position: relative;
}

.has-dropdown:hover .dropdown-container {
  display: block;
  max-height: 50rem;
}

.dropdown-container {
  display: none;
  max-height: 0;
}

.width-80 {
  width: 80vw;
}

.width-65 {
  width: 65vw;
}

.width-20 {
  width: 20vw;
}

.dropdown-flex {
  display: flex;
  justify-content: space-between;
  /* height: 10rem; */
  position: absolute;
  top: 100%;
  left: 0;
  box-sizing: border-box;
  transform: translateX(-42%);
  background-color: white;
  padding: 1.5rem 2rem;
  box-shadow: 2px 2px 20px 5px rgba(0, 0, 0, 0.05);
}

.dropdown-unit {
  width: 25%;
}

.dropdown-links > a {
  color: black;
  display: inline-block;
  width: 100%;
  text-decoration: none;
  letter-spacing: var(--letter-spacing-large);
}

.dropdown-links {
  padding: 1rem 1rem;
  border-left: 0px solid var(--secondary-orange);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.05);
  transition: all 100ms ease;
}

.dropdown-links:hover {
  box-shadow: 6px 6px 10px 5px rgba(0, 0, 0, 0.05);
  border-left: 3px solid var(--secondary-orange);
}

.dropdown-title {
  color: var(--primary-blue);
  letter-spacing: 0.15em;
  font-size: 1rem;
  font-variation-settings: "wght" 600;
  margin: 0.5rem 0 0.7rem 0;
  padding-left: 1rem;
}

#industries-dropdown-flex {
  flex-wrap: wrap;
  flex-shrink: 0;
  flex-grow: 0;
}

#industries-dropdown-unit {
  width: 20%;
}

#contact-dropdown-unit {
  width: 100%;
}

#contact-dropdown-flex {
  transform: translateX(-35%);
}
/* Dropdown styles */

.search-box {
  display: inline-block;
  margin-left: 5rem;
}

.search-box .iconify {
  color: white;
  font-size: 1rem;
}

.Search {
  color: white;
  font-variation-settings: "wght" 400;
  margin-left: 0.5rem;
  display: inline;
  letter-spacing: -0.055rem;
  line-height: 114.5%;
}

/* Navbar-light styles */
.navbar-light {
  position: sticky;
  top: 0;
  overflow: hidden;
  max-height: 30rem;
  z-index: 100;
  background-color: white;
  padding: 0 var(--small-padding);
  box-shadow: 2px 2px 20px 5px rgba(0, 0, 0, 0.05);
}

.blue-link,
.blue-link > a,
.blue-link .iconify {
  color: var(--primary-blue);
}

.invisible {
  overflow: hidden;
  max-height: 0;
}

.transition {
  transition: max-height 600ms cubic-bezier(0.76, 0, 0.24, 1);
}
/* Navbar-light styles */

.text {
  margin-top: 6rem;
}

.text h1 {
  color: white;
  font-size: 3rem;
  font-variation-settings: "wght" 600;
  font-style: normal;
  letter-spacing: -0.2rem;
  line-height: 114.5%;
  margin: 1rem 0;
}

.text p {
  color: white;
  font-variation-settings: "wght" 300;
  font-size: 1.125rem;
  letter-spacing: -0.055rem;
  line-height: 163.5%;
  margin: 0.5rem 0 1.5rem 0;
}

.contact-button {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 1.125rem;
  font-variation-settings: "wght" 400;
  letter-spacing: -0.055rem;
  line-height: 163.5%;
  background-color: var(--primary-blue);
  border: none;
  border-radius: 5px;
  padding: 0.375rem 2rem;
}

.whatsapp-button {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 1.125rem;
  font-variation-settings: "wght" 400;
  letter-spacing: -0.055rem;
  line-height: 163.5%;
  background-color: var(--whatsapp-green);
  border: none;
  border-radius: 5px;
  padding: 0.375rem 2rem;
  margin-left: 0.625rem;
}

.whatsapp-button i {
  font-size: 1.5rem;
  margin-right: 0.5rem;
  line-height: 1rem;
  transform: translateY(0.1rem);
}

.contact-button:focus,
.whatsapp-button:focus {
  outline: none;
}

.down-arrow {
  color: white;
  font-size: 1.7rem;
  position: absolute;
  bottom: 4rem;
  left: var(--small-padding);
}
/* Hero ends */

/* Trusted Partners start */
.trusted-partners {
  padding: 5rem 0;
}
/* Trusted Partners end */

/* Section-2 starts */
.section-2 {
  width: 100vw;
  margin-bottom: 5rem;
}

.trusted-title {
  text-align: center;
  font-size: 1rem;
  font-variation-settings: "wght" 400;
  line-height: 114.5%;
  letter-spacing: 0.31em;
}

.trusted-companies {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
}

.trusted-companies img {
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}

.grid-container {
  width: 100vw;
}

.technical-partner-grid {
  display: grid;
  width: 100%;
  grid-template-columns: 5fr 4fr;
  gap: 0rem 1rem;
}

.small-caps-title {
  color: var(--primary-blue);
  font-size: 0.75rem;
  letter-spacing: 0.15em;
  margin: 0;
}

.technical-partner-text {
  padding-left: var(--small-padding);
  width: 73%;
}

.technical-partner-text h1 {
  color: black;
  font-size: 2rem;
  font-variation-settings: "wght" 500;
  letter-spacing: -0.05em;
  line-height: 114.5%;
  margin: 0.5rem 0 0 0;
}

.desc {
  font-size: 0.8rem;
  font-variation-settings: "wght" 450;
  letter-spacing: -0.05em;
  line-height: 163%;
}

.checklist {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.checklist-unit {
  display: flex;
  align-items: center;
  margin: 0.3rem 0;
}

.checklist-unit i {
  color: var(--secondary-orange);
  font-size: 0.9rem;
  margin-right: 0.5rem;
}

.checklist-unit p {
  font-size: 0.8rem;
  font-variation-settings: "wght" 450;
  letter-spacing: -0.05em;
  line-height: 163%;
  margin: 0;
}

.technical-partner-image {
  padding-right: var(--small-padding);
}

.technical-partner-image img {
  height: 100%;
}
/* Section-2 ends */

/* Section-3 start */
.blue-title {
  font-size: 2rem;
  margin: 0;
  font-variation-settings: "wght" 500;
  color: var(--primary-blue);
  letter-spacing: -0.05em;
  line-height: 163.5%;
}
/* Section-3 end */

/* Industries start */
.industries {
  margin-bottom: 5rem;
}

.title-block {
  padding: 0 var(--small-padding);
  margin: 0 0 2rem 0;
}

.industries-grid {
  display: grid;
  padding: 0 0.25rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: max-content max-content max-content;
  gap: 0.25rem 0.25rem;
}

.grid-unit {
  display: block;
  width: 100%;
  height: 10rem;
  position: relative;
  filter: grayscale(100%);
  background-size: 115%;
  background-repeat: no-repeat;
  background-position: center;
  transition: filter 300ms ease-in-out, background-size 1s ease;
}

.grid-unit:hover {
  filter: grayscale(0%);
  background-size: 120%;
  background-position: center;
}

.grid-img-text {
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(18, 18, 18, 0) 100%
  );
}

.grid-img-text > p {
  color: white;
  font-size: 1.1rem;
  margin: 0;
  letter-spacing: -0.05em;
  font-variation-settings: "wght" 600;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

#img1 {
  background-image: url("/public/grid/1.png");
}

#img2 {
  background-image: url("/public/grid/2.png");
}

#img3 {
  background-image: url("/public/grid/3.png");
}

#img4 {
  background-image: url("/public/grid/4.png");
}

#img5 {
  background-image: url("/public/grid/5.png");
}

#img6 {
  background-image: url("/public/grid/6.png");
}

#img7 {
  background-image: url("/public/grid/7.png");
}

#img8 {
  background-image: url("/public/grid/8.png");
}

#img9 {
  background-image: url("/public/grid/9.png");
}

#img10 {
  background-image: url("/public/grid/10.png");
}

#img11 {
  background-image: url("/public/grid/11.png");
}

#img12 {
  background-image: url("/public/grid/12.png");
}

#img13 {
  background-image: url("/public/grid/13.png");
}

#img14 {
  background-image: url("/public/grid/14.png");
}

#img15 {
  background-image: url("/public/grid/15.png");
}
/* Industries end */

/* Section 4 start */
.section-4 {
  padding: 0 var(--small-padding);
}

.image-container img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.image-container {
  width: 20rem;
  height: 20rem;
}

.text-container {
  width: 51%;
}

.text-container .blue-title {
  margin: 0;
  line-height: 1;
}

.text-container .desc {
  margin: 1.5rem 0;
  font-size: 1rem;
  font-variation-settings: "wght" 450;
}

.flex-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5rem;
}
/* Section 4 end */

/* Section 5 Reach Card start */
.reach-card-section {
  padding: 0 var(--small-padding);
}

.reach-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.reach-card {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 4rem 2rem;
  border-radius: 20px;
  box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.05);
}

.reach-card-unit {
  display: inline-block;
  margin: 0 3.5rem;
}

.count-text {
  font-size: 2rem;
  font-variation-settings: "wght" 550;
  color: var(--primary-blue);
  display: inline-block;
  line-height: 114.5%;
  margin: 0;
}

.reach-card-unit .count {
  font-size: 4.5rem;
  font-variation-settings: "wght" 700;
  color: var(--primary-blue);
  letter-spacing: -0.05em;
  line-height: 114.5%;
  margin: 0;
  padding: 0;
}

#product {
  margin-left: 0.7rem;
}
/* Section 5 Reach Card end */

/* Section 6 */
.section-6 {
  margin: 5rem 0;
}

.customized-solutions-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 var(--small-padding);
}

.customized-solutions-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.customized-cards-container {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: 1fr 1fr;
}

.card-unit {
  margin: 1rem 1rem;
  box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  padding: 1.5rem 1rem;
  width: 11rem;
}

.card-title {
  margin: 0.5rem 0;
  letter-spacing: -0.05em;
  font-variation-settings: "wght" 600;
}

.card-desc {
  margin: 0;
  font-size: 0.75rem;
  letter-spacing: -0.05em;
}

.customized-solutions-text .blue-title {
  letter-spacing: -0.05em;
  line-height: 120%;
  margin: 0;
}

.customized-solutions-text .tag {
  font-variation-settings: "wght" 400;
  font-size: 1.2rem;
  letter-spacing: -0.05em;
  margin: 1rem 0 2rem 0;
}

.blue-button {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 1.125rem;
  font-variation-settings: "wght" 400;
  letter-spacing: -0.05em;
  line-height: var(--line-height-large);
  background-color: var(--primary-blue);
  border: 1.5px var(--primary-blue) solid;
  border-radius: 5px;
  padding: 0.3rem 1.5rem;
  transition: transform 300ms;
}

.inverted-blue-button {
  display: inline-block;
  text-decoration: none;
  color: var(--primary-blue);
  font-size: 1.125rem;
  font-variation-settings: "wght" 400;
  letter-spacing: -0.055rem;
  line-height: 163.5%;
  background-color: transparent;
  border: 1.5px var(--primary-blue) solid;
  border-radius: 5px;
  padding: 0.3rem 1.5rem;
  transition: transform 300ms;
}
/* Section 6 */

/* FAQ Section start */
.FAQ-section {
  background-color: #ebf1ff;
  padding: 4rem calc(var(--small-padding) - 1rem);
  position: relative;
  margin-top: 10rem;
}

.faq-icon {
  width: 11rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 0;
}

.faq-title {
  position: relative;
  text-align: center;
  font-size: 2rem;
  color: var(--primary-blue);
  font-variation-settings: "wght" 500;
  letter-spacing: var(--letter-spacing-large);
  margin: 0;
}

.faq-tagline {
  text-align: center;
  font-size: 0.85rem;
  font-variation-settings: "wght" 450;
  letter-spacing: var(--letter-spacing-large);
  margin: 0.5rem;
}

.faq-accordion {
  margin-top: 4rem;
}

.faq-accordion-item {
  display: block;
  background-color: white;
  border: 1px solid white;
  padding: 2rem 3rem;
  margin: 1rem 0;
  border-radius: 15px;
  max-height: 20rem;
  overflow: hidden;
  transition: max-height 200ms ease, background-color 200ms ease,
    border 200ms ease;
}

.faq-accordion-ques {
  position: relative;
  margin-bottom: 1.25rem;
  display: inline-block;
  width: 100%;
  color: var(--primary-blue);
  font-size: 1.125rem;
  font-variation-settings: "wght" 600;
  letter-spacing: var(--letter-spacing-large);
  user-select: none;
}

.faq-accordion-ques > i {
  display: inline-block;
  font-size: 1.3rem;
  line-height: 1;
  color: black;
  position: absolute;
  right: 0;
  transition: transform 200ms ease;
}

.faq-accordion-ans {
  position: relative;
  display: inline-block;
  color: black;
  font-size: 1rem;
  font-variation-settings: "wght" 400;
  letter-spacing: var(--letter-spacing-large);
  line-height: var(--line-height-large);
  user-select: none;
}

.rotate {
  transform: rotate(180deg);
}

.collapse {
  max-height: 1rem;
  background-color: #ebf1ff;
  border: 1px solid var(--primary-blue);
}

.list-title {
  font-variation-settings: "wght" 550;
}

.list > li {
  list-style-type: disc;
  list-style-position: inside;
}
/* FAQ Section end */

/* Footer */
footer {
  color: white;
  background-color: var(--primary-blue);
  letter-spacing: -0.05em;
  padding: 3rem var(--small-padding);
}

footer a {
  text-decoration: none;
  color: white;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
}

.footer-logo img {
  width: 100%;
}

.footer-logo {
  width: 13rem;
}

.footer-logo p {
  font-size: 0.8rem;
  font-variation-settings: "wght" 300;
  margin-left: 1rem;
  margin-top: 0.5rem;
}

.footer-address {
  font-size: 0.9rem;
  font-variation-settings: "wght" 300;
  line-height: 163.5%;
}

.footer-links {
  display: flex;
  flex-direction: column;
}

.footer-links a {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  font-variation-settings: "wght" 500;
}

footer h4 {
  margin: 0 0 0.5rem 0;
  font-size: 0.8rem;
  font-variation-settings: "wght" 400;
}

.footer-contact p {
  font-size: 0.8rem;
  font-variation-settings: "wght" 300;
  margin-bottom: 0.5rem;
  line-height: 163.5%;
}

.copyright {
  font-size: 0.9rem;
  font-variation-settings: "wght" 300;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.footer-social-media i {
  font-size: 2rem;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}
/* Footer */

/* 1366 Responsiveness */
@media screen and (min-width: 1366px) {
  /* 1366 RESPONSIVE Hero starts */
  .hero {
    padding: 0 var(--medium-padding);
  }

  .navbar-light {
    padding: 0 var(--medium-padding);
  }

  /* 1366 RESPONSIVE Dropdown styles */
  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
  }

  .has-dropdown {
    position: relative;
  }

  .has-dropdown:hover .dropdown-container {
    display: block;
    max-height: 50rem;
  }

  .dropdown-container {
    display: none;
    max-height: 0;
  }

  .width-80 {
    width: 85vw;
  }

  .width-65 {
    width: 70vw;
  }

  .width-20 {
    width: 20vw;
  }

  .dropdown-unit {
    width: 25%;
  }

  .dropdown-links > a {
    color: black;
    text-decoration: none;
    letter-spacing: var(--letter-spacing-large);
  }

  .dropdown-links {
    padding: 1rem 1rem;
    border-left: 0px solid var(--secondary-orange);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.05);
    transition: all 100ms ease;
  }

  .dropdown-links:hover {
    box-shadow: 6px 6px 10px 5px rgba(0, 0, 0, 0.05);
    border-left: 3px solid var(--secondary-orange);
  }

  .dropdown-title {
    color: var(--primary-blue);
    letter-spacing: 0.15em;
    font-size: 1rem;
    font-variation-settings: "wght" 600;
    margin: 0.5rem 0 0.7rem 0;
    padding-left: 1rem;
  }

  #industries-dropdown-flex {
    flex-wrap: wrap;
    flex-shrink: 0;
    flex-grow: 0;
  }

  #industries-dropdown-unit {
    width: 20%;
  }

  #contact-dropdown-unit {
    width: 100%;
  }

  #contact-dropdown-flex {
    transform: translateX(-35%);
  }
  /* 1366 RESPONSIVE Dropdown styles */

  .text {
    margin-top: 8rem;
  }

  .down-arrow {
    color: white;
    font-size: 1.7rem;
    position: absolute;
    bottom: 4rem;
    left: var(--medium-padding);
  }
  /* 1366 RESPONSIVE Hero ends */

  /* 1366 RESPONSIVE Trusted Partners start */
  .trusted-partners {
    padding: 5rem 0;
  }
  /* 1366 RESPONSIVE Trusted Partners end */

  /* 1366 RESPONSIVE Section-2 starts */
  .section-2 {
    width: 100vw;
    margin-bottom: 5rem;
  }

  .trusted-title {
    text-align: center;
    font-size: 1rem;
    font-variation-settings: "wght" 400;
    line-height: 114.5%;
    letter-spacing: 0.31em;
  }

  .trusted-companies {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8rem;
  }

  .trusted-companies img {
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
  }

  .grid-container {
    width: 100vw;
  }

  .technical-partner-grid {
    display: grid;
    width: 100%;
    grid-template-columns: 5fr 4fr;
    gap: 0rem 1rem;
  }

  .small-caps-title {
    color: var(--primary-blue);
    font-size: 0.8rem;
    letter-spacing: 0.15em;
    margin: 0;
  }

  .technical-partner-text {
    padding-left: var(--medium-padding);
    width: 68%;
  }

  .technical-partner-text h1 {
    color: black;
    font-size: 2rem;
    font-variation-settings: "wght" 500;
    letter-spacing: -0.05em;
    line-height: 114.5%;
    margin: 0.5rem 0 0 0;
  }

  .desc {
    font-size: 0.8rem;
    font-variation-settings: "wght" 450;
    letter-spacing: -0.05em;
    line-height: 163%;
  }

  .checklist {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .checklist-unit {
    display: flex;
    align-items: center;
    margin: 0.3rem 0;
  }

  .checklist-unit i {
    color: var(--secondary-orange);
    font-size: 0.9rem;
    margin-right: 0.5rem;
  }

  .checklist-unit p {
    font-size: 0.8rem;
    font-variation-settings: "wght" 450;
    letter-spacing: -0.05em;
    line-height: 163%;
    margin: 0;
  }

  .technical-partner-image {
    padding-right: var(--medium-padding);
  }

  .technical-partner-image img {
    height: 100%;
  }
  /* 1366 RESPONSIVE Section-2 ends */

  /* 1366 RESPONSIVE Section-3 start */
  .blue-title {
    font-size: 2rem;
    margin: 0;
    font-variation-settings: "wght" 500;
    color: var(--primary-blue);
    letter-spacing: -0.05em;
    line-height: 163.5%;
  }
  /* 1366 RESPONSIVE Section-3 end */

  /* 1366 RESPONSIVE Industries start */
  .industries {
    margin-bottom: 5rem;
  }

  .title-block {
    padding: 0 var(--medium-padding);
    margin: 0 0 2rem 0;
  }

  .industries-grid {
    display: grid;
    padding: 0 0.25rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: max-content max-content max-content;
    gap: 0.25rem 0.25rem;
  }

  .grid-unit {
    display: block;
    width: 100%;
    height: 10rem;
    position: relative;
    filter: grayscale(100%);
    background-size: 105%;
    background-repeat: no-repeat;
    background-position: center;
    transition: filter 300ms ease-in-out, background-size 1s ease;
  }

  .grid-unit:hover {
    filter: grayscale(0%);
    background-size: 110%;
    background-position: center;
  }

  .grid-img-text {
    width: 100%;
    height: 100%;
    margin: 0;
    position: relative;
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(18, 18, 18, 0) 100%
    );
  }

  .grid-img-text > p {
    color: white;
    font-size: 1.1rem;
    margin: 0;
    letter-spacing: -0.05em;
    font-variation-settings: "wght" 600;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
  }
  /* 1366 RESPONSIVE Industries end */

  /* 1366 RESPONSIVE Section 4 start */
  .section-4 {
    padding: 0 var(--medium-padding);
  }

  .image-container img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }

  .image-container {
    width: 20rem;
    height: 20rem;
  }

  .text-container {
    width: 51%;
  }

  .text-container .blue-title {
    margin: 0;
    line-height: 1;
  }

  .text-container .desc {
    margin: 1.5rem 0;
    font-size: 1rem;
    font-variation-settings: "wght" 450;
  }

  .flex-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5rem;
  }
  /* 1366 RESPONSIVE Section 4 end */

  /* 1366 RESPONSIVE Section 5 Reach Card start */
  .reach-card-section {
    padding: 0 var(--medium-padding);
  }
  /* 1366 RESPONSIVE Section 5 Reach Card end */

  /* 1366 RESPONSIVE Section 6 */
  .section-6 {
    margin: 5rem 0;
  }

  .customized-solutions-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 var(--medium-padding);
  }

  .customized-solutions-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .customized-cards-container {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: 1fr 1fr;
  }

  .card-unit {
    margin: 1rem 1rem;
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    padding: 1.5rem 1rem;
    width: 11rem;
  }

  .card-title {
    margin: 0.5rem 0;
    letter-spacing: -0.05em;
    font-variation-settings: "wght" 600;
  }

  .card-desc {
    margin: 0;
    font-size: 0.75rem;
    letter-spacing: -0.05em;
  }

  .customized-solutions-text .blue-title {
    letter-spacing: -0.05em;
    line-height: 120%;
    margin: 0;
  }

  .customized-solutions-text .tag {
    font-variation-settings: "wght" 400;
    font-size: 1.2rem;
    letter-spacing: -0.05em;
    margin: 1rem 0 2rem 0;
  }

  .blue-button {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 1.125rem;
    font-variation-settings: "wght" 400;
    letter-spacing: -0.05em;
    line-height: var(--line-height-large);
    background-color: var(--primary-blue);
    border: 1.5px var(--primary-blue) solid;
    border-radius: 5px;
    padding: 0.3rem 1.5rem;
    transition: transform 300ms;
  }

  .inverted-blue-button {
    display: inline-block;
    text-decoration: none;
    color: var(--primary-blue);
    font-size: 1.125rem;
    font-variation-settings: "wght" 400;
    letter-spacing: -0.055rem;
    line-height: 163.5%;
    background-color: transparent;
    border: 1.5px var(--primary-blue) solid;
    border-radius: 5px;
    padding: 0.3rem 1.5rem;
    transition: transform 300ms;
  }
  /* 1366 RESPONSIVE Section 6 */

  /* 1366 RESPONSIVE FAQ Section start */
  .FAQ-section {
    background-color: #ebf1ff;
    padding: 4rem calc(var(--medium-padding) - 3rem);
    position: relative;
    margin-top: 10rem;
  }

  .faq-icon {
    width: 11rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 0;
  }

  .faq-title {
    position: relative;
    text-align: center;
    font-size: 2rem;
    color: var(--primary-blue);
    font-variation-settings: "wght" 500;
    letter-spacing: var(--letter-spacing-large);
    margin: 0;
  }

  .faq-tagline {
    text-align: center;
    font-size: 0.85rem;
    font-variation-settings: "wght" 450;
    letter-spacing: var(--letter-spacing-large);
    margin: 0.5rem;
  }

  .faq-accordion {
    margin-top: 4rem;
  }

  .faq-accordion-item {
    display: block;
    background-color: white;
    border: 1px solid white;
    padding: 2rem 3rem;
    margin: 1rem 0;
    border-radius: 15px;
    max-height: 20rem;
    overflow: hidden;
    transition: max-height 200ms ease, background-color 200ms ease,
      border 200ms ease;
  }

  .faq-accordion-ques {
    position: relative;
    margin-bottom: 1.25rem;
    display: inline-block;
    width: 100%;
    color: var(--primary-blue);
    font-size: 1.125rem;
    font-variation-settings: "wght" 600;
    letter-spacing: var(--letter-spacing-large);
    user-select: none;
  }

  .faq-accordion-ques > i {
    display: inline-block;
    font-size: 1.3rem;
    line-height: 1;
    color: black;
    position: absolute;
    right: 0;
    transition: transform 200ms ease;
  }

  .faq-accordion-ans {
    position: relative;
    display: inline-block;
    color: black;
    font-size: 1rem;
    font-variation-settings: "wght" 400;
    letter-spacing: var(--letter-spacing-large);
    line-height: var(--line-height-large);
    user-select: none;
  }

  .rotate {
    transform: rotate(180deg);
  }

  .collapse {
    max-height: 1rem;
    background-color: #ebf1ff;
    border: 1px solid var(--primary-blue);
  }
  /* 1366 RESPONSIVE FAQ Section end */

  /* 1366 RESPONSIVE Footer */
  footer {
    padding: 3rem var(--medium-padding);
  }
  /* 1366 RESPONSIVE Footer */
}

@media screen and (min-width: 1397px) {
  .text {
    margin-top: 6rem;
  }
}

/* 1440 Responsiveness */
@media screen and (min-width: 1440px) {
  .hero {
    background-size: 130%;
    background-position: top;
  }

  .text {
    margin-top: 15vh;
  }
}

/* 1536 Responsiveness */
@media screen and (min-width: 1536px) {
  /* 1563 Section 4 start */

  .image-container {
    width: 25rem;
    height: 25rem;
  }

  .flex-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5rem;
  }

  .text-container {
    width: 49%;
  }

  .text-container .blue-title {
    margin: 0;
    line-height: 1;
  }

  .text-container .desc {
    margin: 1.5rem 0;
    font-size: 1rem;
    font-variation-settings: "wght" 450;
  }

  /* 1536 Section 4 end */

  /* 1536 Section 5 Reach Card start */

  .reach-card {
    padding: 5rem 3rem;
  }

  .reach-card-unit {
    display: inline-block;
    margin: 0 3.5rem;
  }

  .reach-card-unit .count {
    font-size: 5rem;
  }

  .count-text {
    font-size: 2.5rem;
  }

  #product {
    margin-left: 0.9rem;
  }
  /* 1536 Section 5 Reach Card end */
}

/* 1920 Responsiveness */
@media screen and (min-width: 1920px) {
  /* 1920 RESPONSIVE Hero section start */
  .hero {
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    padding: 0 var(--large-padding);
    height: 100vh;
    width: 100vw;
  }

  .nav-logo {
    width: 11rem;
    margin-right: 2rem;
  }

  .nav-link {
    font-size: 1.2rem;
    font-variation-settings: "wght" 400;
  }

  .nav-link a {
    font-size: 1.2rem;
    font-variation-settings: "wght" 400;
  }

  .navbar-light {
    padding: 0 var(--large-padding);
  }

  /* 1920 Dropdown styles */
  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
    /* cursor: pointer; */
  }

  .has-dropdown {
    position: relative;
  }

  .has-dropdown:hover .dropdown-container {
    display: block;
    max-height: 50rem;
  }

  .dropdown-container {
    display: none;
    max-height: 0;
  }

  .width-80 {
    width: 70vw;
  }

  .width-65 {
    width: 60vw;
  }

  .width-20 {
    width: 15vw;
  }

  .dropdown-flex {
    display: flex;
    justify-content: space-between;
    /* height: 10rem; */
    position: absolute;
    top: 100%;
    left: 0;
    box-sizing: border-box;
    transform: translateX(-42%);
    background-color: white;
    padding: 2rem 2rem;
  }

  .dropdown-unit {
    width: 25%;
  }

  .dropdown-links > a {
    color: black;
    text-decoration: none;
    letter-spacing: var(--letter-spacing-large);
  }

  .dropdown-links {
    padding: 1rem 1rem;
    border-left: 0px solid var(--secondary-orange);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.05);
    transition: all 100ms ease;
  }

  .dropdown-links:hover {
    box-shadow: 6px 6px 10px 5px rgba(0, 0, 0, 0.05);
    border-left: 3px solid var(--secondary-orange);
  }

  .dropdown-title {
    color: var(--primary-blue);
    letter-spacing: 0.15em;
    font-size: 1rem;
    font-variation-settings: "wght" 600;
    margin: 0.5rem 0 0.7rem 0;
    padding-left: 1rem;
  }

  #industries-dropdown-flex {
    flex-wrap: wrap;
    flex-shrink: 0;
    flex-grow: 0;
  }

  #industries-dropdown-unit {
    width: 20%;
  }

  #contact-dropdown-unit {
    width: 100%;
  }

  #contact-dropdown-flex {
    transform: translateX(-35%);
  }
  /* 1920 Dropdown styles */

  .search-box {
    display: inline-block;
    margin-left: 10rem;
  }

  .search-box p {
    letter-spacing: -0.055rem;
    line-height: 114.5%;
  }

  .search-box img {
    width: 1rem;
  }

  .Search {
    font-variation-settings: "wght" 400;
    font-size: 1.275rem;
    margin-left: 0.5rem;
    display: inline;
  }

  .text {
    margin-top: 11rem;
  }

  .text h1 {
    color: white;
    font-size: 4rem;
    font-variation-settings: "wght" 600;
    letter-spacing: -0.05em;
    line-height: 114.5%;
    margin: 1rem 0;
  }

  .text p {
    color: white;
    font-variation-settings: "wght" 300;
    font-size: 1.5rem;
    letter-spacing: -0.05rem;
    line-height: 163.5%;
    margin: 1.5rem 0 2.5rem 0;
  }

  .contact-button {
    color: white;
    font-size: 1.5rem;
    font-variation-settings: "wght" 300;
    letter-spacing: -0.03em;
    line-height: 163.5%;
    background-color: var(--primary-blue);
    border: none;
    border-radius: 5px;
    padding: 0.5rem 2.5rem;
  }

  .whatsapp-button {
    color: white;
    font-size: 1.5rem;
    font-variation-settings: "wght" 300;
    line-height: 163.5%;
    background-color: var(--whatsapp-green);
    border: none;
    border-radius: 5px;
    padding: 0.5rem 2.5rem;
    margin-left: 0.5rem;
  }

  .whatsapp-button i {
    font-size: 2rem;
    margin-right: 0.5rem;
    line-height: 1rem;
    transform: translateY(0.2rem);
  }

  .down-arrow {
    color: white;
    font-size: 1.7rem;
    position: absolute;
    bottom: 6rem;
    left: var(--large-padding);
  }

  /* 1920 RESPONSIVE Hero section end*/

  /* 1920 RESPONSIVE Section 2 start */
  .section-2 {
    width: 100vw;
    padding: 4rem 0;
  }

  .trusted-title {
    text-align: center;
    font-size: 1.125rem;
    font-variation-settings: "wght" 400;
    line-height: 114.5%;
    letter-spacing: 0.31em;
  }

  .trusted-companies {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--medium-padding);
  }

  .trusted-companies img {
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
  }

  .grid-container {
    width: 100vw;
  }

  .technical-partner-grid {
    display: grid;
    width: 100%;
    grid-template-columns: 5fr 4fr;
    gap: 0rem 1rem;
  }

  .small-caps-title {
    color: var(--primary-blue);
    font-size: 0.95rem;
    letter-spacing: 0.15em;
    margin: 0;
  }

  .technical-partner-text {
    padding-left: var(--large-padding);
    width: 60%;
  }

  .technical-partner-text h1 {
    color: black;
    font-size: 2.8rem;
    font-variation-settings: "wght" 500;
    letter-spacing: -0.05em;
    line-height: 114.5%;
    margin: 0.5rem 0 0 0;
  }

  .desc {
    font-size: 1.1rem;
    letter-spacing: -0.05em;
    line-height: var(--line-height-large);
  }

  .checklist {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .checklist-unit {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
  }

  .checklist-unit i {
    color: var(--secondary-orange);
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }

  .checklist-unit p {
    font-size: 1rem;
    letter-spacing: -0.05em;
    line-height: var(--line-height-small);
    margin: 0;
  }

  .technical-partner-text .contact-button {
    font-size: 1rem;
    font-variation-settings: "wght" 300;
    font-family: Inter, sans-serif;
    padding: 0.5rem 2rem;
  }

  .technical-partner-image img {
    height: 100%;
  }

  .technical-partner-image {
    display: flex;
    padding-right: var(--large-padding);
    justify-content: flex-end;
  }

  .technical-partner-image img {
    height: 100%;
  }
  /* 1920 RESPONSIVE Section 2 end */

  /* 1920 Section-3 start */
  .blue-title {
    font-size: 2.5rem;
    margin: 0;
    font-variation-settings: "wght" 500;
    color: var(--primary-blue);
    letter-spacing: -0.05em;
    line-height: 163.5%;
  }
  /* 1920 Section-3 end */

  /* Industries start */
  .industries {
    margin-bottom: 8rem;
  }

  .title-block {
    padding: 0 var(--large-padding);
    margin: 0 0 2rem 0;
  }

  .industries-grid {
    display: grid;
    padding: 0 0.5rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: max-content max-content max-content;
    gap: 0.5rem 0.5rem;
  }

  .grid-unit {
    display: block;
    width: 100%;
    height: 15rem;
    position: relative;
    filter: grayscale(100%);
    background-size: 115%;
    background-repeat: no-repeat;
    background-position: center;
    transition: filter 300ms ease-in-out, background-size 1s ease;
  }

  .grid-unit:hover {
    filter: grayscale(0%);
    background-size: 120%;
    background-position: center;
  }

  .grid-img-text > p {
    color: white;
    font-size: 1.3rem;
    margin: 0;
    letter-spacing: -0.05em;
    font-variation-settings: "wght" 600;
    position: absolute;
    bottom: 1.3rem;
    left: 1.3rem;
  }
  /* 1920 Industries end */

  /* 1920 RESPONSIVE Section 4 start */
  .section-4 {
    padding: 0 var(--large-padding);
  }

  .image-container img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }

  .image-container {
    width: 30rem;
    height: 30rem;
  }

  .flex-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .text-container .blue-title {
    margin: 0;
    font-size: 2.5rem;
    line-height: var(--line-height-large);
  }

  .text-container .desc {
    margin: 1.5rem 0;
    font-size: 1.5rem;
    line-height: 160%;
  }
  /* 1920 RESPONSIVE Section 4 end */

  /* 1920 RESPONSIVE Section 5 Reach Card start */
  .reach-card-section {
    padding: 0 var(--large-padding);
  }

  .count-text {
    font-size: 2.8rem;
  }

  .reach-card-unit .count {
    font-size: 6.5rem;
  }

  #product {
    margin-left: 1rem;
  }
  /* 1920 RESPONSIVE Section 5 Reach Card end */

  /* 1920 RESPONSIVE Section 6 */
  .section-6 {
    margin: 5rem 0;
  }

  .customized-solutions-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 var(--large-padding);
  }

  .customized-solutions-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .customized-cards-container {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: 1fr 1fr;
  }

  .card-unit {
    margin: 1rem 1rem;
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 2rem 1.5rem;
    width: 15rem;
  }

  .card-title {
    font-size: 1.3rem;
    margin: 0.5rem 0;
    letter-spacing: -0.05em;
    font-variation-settings: "wght" 600;
  }

  .card-desc {
    margin: 0;
    font-size: 1rem;
    letter-spacing: -0.05em;
  }

  .card-icon {
    height: 4rem;
  }

  .customized-solutions-text .blue-title {
    font-size: 2.8rem;
    letter-spacing: -0.05em;
    line-height: 120%;
    margin: 0;
  }

  .customized-solutions-text .tag {
    font-variation-settings: "wght" 400;
    font-size: 1.5rem;
    letter-spacing: -0.05em;
    margin: 1rem 0 2rem 0;
  }

  .blue-button {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-variation-settings: "wght" 400;
    letter-spacing: var(--letter-spacing-large);
    line-height: var(--line-height-large);
    background-color: var(--primary-blue);
    border: 1.5px var(--primary-blue) solid;
    border-radius: 5px;
    padding: 0.5rem 2rem;
  }

  .inverted-blue-button {
    display: inline-block;
    text-decoration: none;
    color: var(--primary-blue);
    font-size: 1.5rem;
    font-variation-settings: "wght" 400;
    letter-spacing: var(--letter-spacing-large);
    line-height: var(--line-height-large);
    background-color: transparent;
    border: 1.5px var(--primary-blue) solid;
    border-radius: 5px;
    padding: 0.5rem 2rem;
  }
  /* 1920 RESPONSIVE Section 6 */

  /* 1920 RESPONSIVE FAQ Section start */
  .FAQ-section {
    padding: 4rem var(--large-padding);
    position: relative;
    margin-top: 10rem;
  }

  .faq-icon {
    width: 13rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 0;
  }

  .faq-title {
    position: relative;
    text-align: center;
    font-size: 2.5rem;
    color: var(--primary-blue);
    font-variation-settings: "wght" 500;
    letter-spacing: var(--letter-spacing-large);
    margin: 0;
  }

  .faq-tagline {
    text-align: center;
    font-size: 1rem;
    font-variation-settings: "wght" 450;
    letter-spacing: var(--letter-spacing-large);
    margin: 0.5rem;
  }

  .faq-accordion {
    margin-top: 5rem;
  }

  .faq-accordion-item {
    display: block;
    background-color: white;
    border: 1px solid white;
    padding: 2.3rem 3rem;
    margin: 1rem 0;
    border-radius: 15px;
    max-height: 20rem;
    overflow: hidden;
    transition: max-height 200ms ease, background-color 200ms ease,
      border 200ms ease;
  }

  .faq-accordion-ques {
    position: relative;
    margin-bottom: 1.25rem;
    display: inline-block;
    width: 100%;
    color: var(--primary-blue);
    font-size: 1.25rem;
    font-variation-settings: "wght" 600;
    letter-spacing: var(--letter-spacing-large);
    user-select: none;
  }

  .faq-accordion-ques > i {
    display: inline-block;
    font-size: 1.3rem;
    line-height: 1;
    color: black;
    position: absolute;
    right: 0;
    transition: transform 200ms ease;
  }

  .faq-accordion-ans {
    position: relative;
    display: inline-block;
    color: black;
    font-size: 1.125rem;
    font-variation-settings: "wght" 400;
    letter-spacing: var(--letter-spacing-large);
    line-height: var(--line-height-large);
    user-select: none;
  }

  .rotate {
    transform: rotate(180deg);
  }

  .collapse {
    max-height: 1rem;
    background-color: #ebf1ff;
    border: 1px solid var(--primary-blue);
  }
  /* 1920 RESPONSIVE FAQ Section end */

  /* 1920 RESPONSIVE Footer */
  footer {
    padding: 3rem var(--large-padding);
  }

  .footer-logo {
    width: 15rem;
  }

  .footer-logo p {
    font-size: 1rem;
    margin-top: 0.8rem;
  }

  .footer-address {
    font-size: 1rem;
  }

  .footer-links a {
    font-size: 1rem;
  }

  footer h4 {
    margin: 0 0 0.5rem 0;
    font-size: 1rem;
  }

  .footer-contact p,
  .copyright {
    font-size: 1rem;
  }
  /* 1920 RESPONSIVE Footer */
}
