@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --primary-blue: #2950a3;
  --secondary-orange: #f68527;
  --whatsapp-green: #49c858;
  --small-padding: 10rem;
  --medium-padding: 15rem;
  --large-padding: 21rem;
  --letter-spacing-large: -0.05em;
  --letter-spacing-medium: -0.03em;
  --line-height-small: 114.5%;
  --line-height-medium: 145.5%;
  --line-height-large: 163.5%;
}

::-moz-selection {
  background-color: var(--secondary-orange);
  color: white;
}

::selection {
  background-color: var(--secondary-orange);
  color: white;
}

::-webkit-scrollbar {
  background-color: black;
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: #eeeeee;
  border-radius: 10px;
}

* {
  -webkit-font-smoothing: antialiased;
}

html {
  margin: 0;
  padding: 0;
  min-height: 100%;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-transform: translate3d(0);
  -webkit-backface-visibility: hidden;
  -moz-transform: translate3d(0);
}

body {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

/* Navbar Light start */
.nav-logo {
  width: 8rem;
  margin-right: 1rem;
}

.nav-logo img {
  width: 100%;
}

.nav-bar {
  position: sticky;
  top: 0;
  z-index: 100;
  /* background-color: #f6f6f6; */
  background-color: white;
  padding: 0 var(--small-padding);
  box-shadow: 2px 2px 20px 5px rgba(0, 0, 0, 0.05);
}

.nav-bar-flex {
  display: flex;
  padding: 2rem 0;
  justify-content: space-between;
  align-items: center;
}

.nav-link .iconify {
  color: var(--primary-blue);
  font-size: 0.45rem;
}

.nav-link {
  display: inline-block;
  color: var(--primary-blue);
  text-decoration: none;
  font-size: 1rem;
  font-variation-settings: "wght" 400;
  letter-spacing: -0.05em;
  cursor: pointer;
}

.nav-link a {
  display: inline-block;
  color: var(--primary-blue);
  text-decoration: none;
  font-size: 1rem;
  font-variation-settings: "wght" 400;
  letter-spacing: -0.05em;
}

.nav-link span > i {
  font-size: 0.7rem;
  margin-left: 0.5rem;
}

.nav-link > span {
  display: inline-flex;
  align-items: center;
}

.nav-link::after {
  content: "";
  display: block;
  width: 100%;
  border-bottom: 2px var(--secondary-orange) solid;
  margin-top: 0.3rem;
  transition: transform 300ms;
  transform: scaleX(0);
  transform-origin: center;
}

.nav-link:hover::after {
  transform: scaleX(1);
}

/* Dropdown styles */
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.has-dropdown {
  position: relative;
}

.has-dropdown:hover .dropdown-container {
  display: block;
  max-height: 50rem;
}

.dropdown-container {
  display: none;
  max-height: 0;
}

.width-80 {
  width: 85vw;
}

.width-65 {
  width: 70vw;
}

.width-20 {
  width: 20vw;
}

.dropdown-flex {
  display: flex;
  justify-content: space-between;
  /* height: 10rem; */
  position: absolute;
  top: 100%;
  left: 0;
  box-sizing: border-box;
  transform: translateX(-42%);
  background-color: white;
  padding: 1.5rem 2rem;
  box-shadow: 2px 2px 20px 5px rgba(0, 0, 0, 0.05);
}

.dropdown-unit {
  width: 25%;
}

.dropdown-links > a {
  color: black;
  display: inline-block;
  width: 100%;
  text-decoration: none;
  letter-spacing: var(--letter-spacing-large);
}

.dropdown-links {
  padding: 1rem 1rem;
  border-left: 0px solid var(--secondary-orange);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.05);
  transition: all 100ms ease;
}

.dropdown-links:hover {
  box-shadow: 6px 6px 10px 5px rgba(0, 0, 0, 0.05);
  border-left: 3px solid var(--secondary-orange);
}

.dropdown-title {
  color: var(--primary-blue);
  letter-spacing: 0.15em;
  font-size: 1rem;
  font-variation-settings: "wght" 600;
  margin: 0.5rem 0 0.7rem 0;
  padding-left: 1rem;
}

#industries-dropdown-flex {
  flex-wrap: wrap;
  flex-shrink: 0;
  flex-grow: 0;
}

#industries-dropdown-unit {
  width: 20%;
}

#contact-dropdown-unit {
  width: 100%;
}

#contact-dropdown-flex {
  transform: translateX(-35%);
}
/* Dropdown styles */

.search-box {
  display: flex;
  align-items: center;
  margin-left: 5rem;
}

.search-box .iconify {
  font-size: 1rem;
  color: var(--primary-blue);
}

.Search {
  color: var(--primary-blue);
  font-weight: 400;
  margin-left: 0.5rem;
  letter-spacing: -0.05em;
}

/* Navbar Light end */

/* Title Block start */
.title-block {
  padding: 0 var(--small-padding);
  margin: 2.5rem 0;
}

.small-title {
  font-size: 1.125rem;
  font-variation-settings: "wght" 450;
  letter-spacing: var(--letter-spacing-large);
  line-height: var(--line-height-small);
}

.title {
  font-size: 2.25rem;
  font-variation-settings: "wght" 500;
  letter-spacing: var(--letter-spacing-large);
  line-height: var(--line-height-medium);
  border-bottom: 3px solid var(--secondary-orange);
  width: fit-content;
}

.desc {
  font-size: 1.125rem;
  font-variation-settings: "wght" 450;
  letter-spacing: var(--letter-spacing-large);
  line-height: var(--line-height-large);
  padding: 0 var(--small-padding);
}
/* Title Block end */

/* Table section start */
.table-container {
  margin: 3rem 0;
  padding: 0 var(--small-padding);
}

table {
  table-layout: auto;
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #ffe0c6;
}

th {
  font-size: 0.875rem;
  font-variation-settings: "wght" 600;
  letter-spacing: var(--letter-spacing-large);
  line-height: var(--line-height-small);
  text-align: left;
  padding: 0.5rem 0.7rem;
}

td {
  font-size: 0.875rem;
  font-variation-settings: "wght" 450;
  letter-spacing: var(--letter-spacing-large);
  line-height: var(--line-height-small);
  padding: 0.5rem 0.7rem;
}

td:nth-child(6),
th:nth-child(6) {
  text-align: center;
}

sub {
  font-size: 0.5rem;
  font-variation-settings: "wght" 600;
}
/* Table section end */

/* Buttons section start */
.buttons-section {
  padding: 0 var(--small-padding);
}

.buttons-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-unit .iconify {
  font-size: 3.5rem;
  color: var(--secondary-orange);
}

.button-unit {
  display: flex;
}

.button-title {
  font-size: 2.25rem;
  font-variation-settings: "wght" 450;
  letter-spacing: var(--letter-spacing-large);
  line-height: var(--line-height-small);
}

.button-subtitle {
  font-size: 1.25rem;
  color: #858585;
  font-variation-settings: "wght" 400;
  letter-spacing: var(--letter-spacing-large);
  line-height: var(--line-height-small);
}

.prev-button {
  margin-right: 1.5rem;
}

.next-button {
  margin-left: 1.5rem;
}
/* Buttons section end */

/* Industries section start */
.industries {
  padding: 0 var(--small-padding);
  margin: 3rem 0;
}

.industries-links-container {
  background-color: #f6f6f6;
  padding: 2.5rem 4rem;
}

.industries-title-block {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.industries-title-block > p {
  font-size: 1.5rem;
  display: inline-block;
  margin-right: 2rem;
  color: var(--secondary-orange);
  font-variation-settings: "wght" 550;
  letter-spacing: var(--letter-spacing-large);
  line-height: var(--line-height-small);
}

.line {
  /* height: 1.5px; */
  height: 0px;
  width: 100%;
  border-bottom: 1.5px solid var(--secondary-orange);
  /* background-color: var(--secondary-orange); */
}

.links-unit a {
  color: black;
  display: inline-block;
  margin: 0.25rem;
  text-decoration: none;
  font-size: 0.9rem;
  font-variation-settings: "wght" 400;
  letter-spacing: var(--letter-spacing-large);
  line-height: var(--line-height-small);
}

.links-unit {
  display: flex;
  flex-direction: column;
}

.links-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* Industries section end */

/* Footer */
footer {
  color: white;
  background-color: var(--primary-blue);
  letter-spacing: -0.05em;
  padding: 3rem var(--small-padding);
}

footer a {
  text-decoration: none;
  color: white;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
}

.footer-logo img {
  width: 100%;
}

.footer-logo {
  width: 13rem;
}

.footer-logo p {
  font-size: 0.8rem;
  font-variation-settings: "wght" 300;
  margin-left: 1rem;
  margin-top: 0.5rem;
}

.footer-address {
  font-size: 0.9rem;
  font-variation-settings: "wght" 300;
  line-height: 163.5%;
}

.footer-links {
  display: flex;
  flex-direction: column;
}

.footer-links a {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  font-variation-settings: "wght" 500;
}

footer h4 {
  margin: 0 0 0.5rem 0;
  font-size: 0.8rem;
  font-variation-settings: "wght" 400;
}

.footer-contact p {
  font-size: 0.8rem;
  font-variation-settings: "wght" 300;
  margin-bottom: 0.5rem;
  line-height: 163.5%;
}

.copyright {
  font-size: 0.9rem;
  font-variation-settings: "wght" 300;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.footer-social-media i {
  font-size: 2rem;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}
/* Footer */

/* Rsponsiveness */

@media screen and (min-width: 1366px) {
  .nav-bar,
  .title-block,
  .desc,
  .table-container,
  .buttons-section,
  .industries {
    padding: 0 var(--medium-padding);
  }

  footer {
    padding: 3rem var(--medium-padding);
  }
}

@media screen and (min-width: 1920px) {
  .nav-bar,
  .title-block,
  .desc,
  .table-container,
  .buttons-section,
  .industries {
    padding: 0 var(--large-padding);
  }

  footer {
    padding: 3rem var(--large-padding);
  }

  .nav-logo {
    width: 11rem;
  }

  .nav-link {
    font-size: 1.3rem;
  }

  .nav-link a {
    font-size: 1.3rem;
  }

  .nav-link span > i {
    font-size: 0.9rem;
    margin-left: 0.6rem;
  }

  .search-box .iconify {
    font-size: 1.3rem;
  }

  .Search {
    font-size: 1.3rem;
    margin-left: 0.5rem;
  }

  .title {
    font-size: 2.5rem;
  }

  .desc {
    font-size: 1.3rem;
  }
  .links-unit a {
    font-size: 1rem;
  }

  .links-title {
    font-size: 1.3rem;
  }

  .industries-links-container {
    padding: 3rem 5rem;
  }

  .industries-title-block > p {
    font-size: 1.7rem;
  }

  .footer-logo {
    width: 15rem;
  }

  .footer-logo p {
    font-size: 1rem;
    margin-top: 0.8rem;
  }

  .footer-address {
    font-size: 1rem;
  }

  .footer-links a {
    font-size: 1rem;
  }

  footer h4 {
    margin: 0 0 0.5rem 0;
    font-size: 1rem;
  }

  .footer-contact p,
  .copyright {
    font-size: 1rem;
  }
}
